{% extends "base.html" %}

{% block content %}
<div class="blog-header">
    <div class="blog-nav">
        <a href="../" class="back-link">../</a>
        <span class="blog-title">LT Blog</span>
    </div>
    
    <div class="blog-categories">
        {% for subsection in section.subsections %}
        {% set category = get_section(path=subsection) %}
        <div class="category-bullet">
            <span class="bullet">*</span>
            <a href="{{ category.permalink }}" class="category-link">{{ category.title }}</a>
        </div>
        {% endfor %}
    </div>
    
    <div class="blog-description">
        <p>Whenever I find a grain of time between my occupations, I write. Thus, this blog was born.</p>
    </div>
</div>

<div class="blog-sections">
    {% for subsection in section.subsections %}
    {% set category = get_section(path=subsection) %}
    {% if category.pages %}
    <div class="blog-section">
        <h3 class="section-title">{{ category.title | title }}</h3>
        <div class="posts-timeline">
            {% for page in category.pages %}
            <div class="timeline-item">
                <span class="post-date">{{ page.date | date(format="%Y.%m.%d") }}</span>
                <span class="date-separator">-</span>
                <a href="{{ page.permalink }}" class="post-link">{{ page.title }}</a>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
{% endblock content %}
